.topbar{ margin:0px; padding:0px; width:100%; background-color:#333; color:#FFF; float:left;}
.nav{margin:0px; padding:0px; width:100%; float:left;}
.nav img{ margin:0px; padding:0px; width:30%; float:left;}
.navi{ margin:0px; padding:0px; width:80%; float:left;}
.navi ul{ margin:40px ; padding:0px; text-align:center;}
.navi ul li{ margin:10px ; padding:0px ;  display:inline; float: left;}
.navi ul li a{ margin: 0px; padding: 0px; float: left; color: #000;; }
.cont{margin: 0px; padding: 0px; width: 100%; text-align: right; float:left;}
.section{ margin: 0px; padding: 0px; width: 100%; background-color: gray;}
.sect{ margin: 0px; padding: 0px; width: 100%; float: left;}
.sect h1{ margin: 10px; padding: 0px; font-size: 40px; color: maroon;}
.sect p{ margin: 10px; padding: 0px; text-align: left; color: #000;  float: left;}
.btn-theme {background-color: #FF004D; width: 100%; padding: 5px 20px; color: #fff; outline: none;
}